tr {
    background-color: white;
}

td {
    border: solid;
    padding: 5px;
    width: 80px;
    height: 80px;
    background-color: green;
}


table {
    border-collapse: collapse;
}

.board-piece {
    display: flex;
    justify-content: center;
}

.unclickable {
    pointer-events: none;
}

img {
    width: 70px;
    height: 70px
}