tr {
    background-color: white;
}

td {
    border: solid;
    padding: 5px;
    width: 80px;
    height: 80px;
    background-color: green;
}


table {
    border-collapse: collapse;
}

.board-piece {
    display: flex;
    justify-content: center;
}

.unclickable {
    pointer-events: none;
}

img {
    width: 70px;
    height: 70px
}

.game-area {

    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#move-history {

    width: 50%;
    background-color: chartreuse;
}

.scoreboard {
    border: 3px;
    border-color: maroon;
    border-style: solid;
}

.scoreboard-label {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 6em;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  
}

.scoreboard-score {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 7em;
  text-align: center;
  padding-top: .5em;
  color: white;
}