<!-- <h1> BLACK: {{blackScore}} --- WHITE: {{whiteScore}}</h1> -->

<!-- <h3>Current player color is: {{activePlayerColor}}</h3> -->

<!-- <div *ngIf="!eligibleMoves">
    <p>No elgible moves for {{activePlayerColor}} - click below to go to next player.</p>
    <button (click)="onCellClick(activePlayerColor, -1, -1)">Test</button>
</div> -->

<div *ngIf ="gameOver" class="game-over-banner">
    <h1>Game Over!</h1>
    <h2 *ngIf="blackScore > whiteScore">Black Wins! {{blackScore}} to {{whiteScore}}</h2>
    <h2 *ngIf="whiteScore > blackScore">White Wins! {{blackScore}} to {{whiteScore}}</h2>
    <h2 *ngIf="whiteScore == blackScore">It's a Tie! {{blackScore}} to {{whiteScore}}</h2>
</div>


<div class="game-area">

    <div class="scoreboard">
        <h2 class="scoreboard-label" [ngClass]=" { 'active-player-border' : activePlayerColor == 'b'} "
            style="color: black;">Black</h2>
        <h3 class="scoreboard-score" style="color: black;">{{blackScore}}</h3>
    </div>

    <div class="board">
        <table [class.unclickable]="!eligibleMoves">
            <tr *ngFor="let row of tableData; let i = index">
                <td *ngFor="let cell of row; let j = index">

                    <!-- TODO: validation on the onCellClick() method to ensure that it's a valid eligable move -->

                    <div class="board-piece" *ngIf="cell == 'b'">
                        <!-- {{cell}} this displays the data in tabledata -->
                        <img src="../../assets/black_reversi.png">
                    </div>

                    <div class="board-piece" *ngIf="cell == 'w'">
                        <img src="../../assets/white_reversi.png">
                    </div>

                    <div class="board-piece" *ngIf="cell == 'e'" (click)="onCellClick(activePlayerColor, i, j)">
                        <img src="../../assets/eligable_move.png">
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="scoreboard">
        <h2 class="scoreboard-label" [ngClass]=" { 'active-player-border' : activePlayerColor == 'w'} "
            style="color: white;">White</h2>
        <h3 class="scoreboard-score" style="color: white;">{{whiteScore}}</h3>


        <button *ngIf="!eligibleMoves && !gameOver" class="ineligible-move-card" (click)="onCellClick(activePlayerColor, -1, -1)">No elgible moves for {{activePlayerColor}} - click below to go to next player.</button>

    </div>

</div>


<div footer>
    <mat-slide-toggle [(ngModel)]="showMoveHistory">Enable move history</mat-slide-toggle>

    <div *ngIf="showMoveHistory" id="move-history">
        <div *ngFor="let move of chunkedMoveHistory">
            <p>{{move}}</p>
        </div>
    </div>

</div>




<!-- <div>
    <button  (click)="debugAPICall()">Debug board</button>
</div> -->