<!-- <h1> BLACK: {{blackScore}} --- WHITE: {{whiteScore}}</h1> -->

<!-- <h3>Current player color is: {{activePlayerColor}}</h3> -->

<!-- <div *ngIf="!eligibleMoves">
    <p>No elgible moves for {{activePlayerColor}} - click below to go to next player.</p>
    <button (click)="onCellClick(activePlayerColor, -1, -1)">Test</button>
</div> -->


<div class="game-area">

    <div class="scoreboard">
        <h2 class="scoreboard-label" [ngClass]=" { 'active-player-border' : activePlayerColor == 'b'} "
            style="color: black;">Black</h2>
        <h3 class="scoreboard-score" style="color: black;">{{blackScore}}</h3>
    </div>

    <div class="board">
        <table [class.unclickable]="!eligibleMoves">
            <tr *ngFor="let row of tableData; let i = index">
                <td *ngFor="let cell of row; let j = index" (click)="onCellClick(activePlayerColor, i, j)">

                    <!-- TODO: validation on the onCellClick() method to ensure that it's a valid eligable move -->

                    <div class="board-piece" *ngIf="cell == 'b'">
                        <!-- {{cell}} this displays the data in tabledata -->
                        <img src="../../assets/black_reversi.png">
                    </div>

                    <div class="board-piece" *ngIf="cell == 'w'">
                        <img src="../../assets/white_reversi.png">
                    </div>

                    <div class="board-piece" *ngIf="cell == 'e'">
                        <img src="../../assets/eligable_move.png">
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="scoreboard">
        <h2 class="scoreboard-label" [ngClass]=" { 'active-player-border' : activePlayerColor == 'w'} "
            style="color: white;">White</h2>
        <h3 class="scoreboard-score" style="color: white;">{{whiteScore}}</h3>


            <button *ngIf="!eligibleMoves" class="ineligible-move-card" (click)="onCellClick(activePlayerColor, -1, -1)">No elgible moves for {{activePlayerColor}} - click below to go to next player.</button>

    </div>

</div>



<!-- <div id="move-history">
    <div *ngFor="let move of chunkedMoveHistory">
        <p>{{move}}</p>
    </div>
</div> -->



<div>
    <button  (click)="debugAPICall()">Debug board</button>
</div>